services:
  dev:
    container_name: pamiq-vision-exp_${USER}
    image: pamiq-vision-exp-${USER}
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ${DATA_DIR}:/workspace/data:ro
      - pamiq-vision-exp:/workspace
      - uv_cache:/root/.cache/uv
      - pip_cache:/root/.cache/pip
      - pre-commit_cache:/root/.cache/pre-commit
    environment:
      - PYRIGHT_PYTHON_FORCE_VERSION=latest
    tty: true
    working_dir: /workspace
    command: /bin/bash
    stop_grace_period: 0s

volumes:
  pamiq-vision-exp:
    name: pamiq-vision-exp_${USER}
  uv_cache:
  pip_cache:
  pre-commit_cache:
