name: Test

on:
  push:
    branches: [main]
    paths:
      - "**/*.py"
      - "**/*.pyi"
      - ".github/workflows/test.yml"
      - "pyproject.toml"
      - "uv.lock"
  pull_request:
    branches: [main]
    paths:
      - "**/*.py"
      - "**/*.pyi"
      - ".github/workflows/test.yml"
      - "pyproject.toml"
      - "uv.lock"

env:
  UV_VERSION: "0.7.20"

jobs:

  run_tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ["3.12", "3.13", "3.14"]

    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v4

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v4
        with:
          version: ${{ env.UV_VERSION }}
          python-version: ${{ matrix.python-version }}
          enable-cache: true

      - name: Install dependencies
        run: uv sync --all-extras

      - name: Check installed packages
        run: |
          echo "Python version:"
          uv run python -V
          echo "All installed packages:"
          uv pip list

      - name: Run pytest with coverage
        run: |
          uv run pytest -v --log-level=INFO --cov
